  <style>
    main{
      display: grid;
      grid-template-columns: 200px 200px 200px;
    }
    </style>

main{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr
  grid-column-gap: 15px;
  grid-row-gap: 3px;
}
